*, body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-y: hidden;
}

:root {
  --wood-brown: #7C4F28;
  --wood-mid: #B38867;
  --wood-cream: #F5E9DA;
  --wood-walnut: #594231;
  --wood-beige: #EAD1B4;
  --accent-gold: #D4A373;
  --accent-orange: #c06109;
  --bright-orange: #df8338;
  --darkBrown: #1d0e00;
}

.bg-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--wood-cream);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 30px 20px;
}

.bookFrame{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 700px;
  height: 100%;
  background-image: url('./images/bg-wooden-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  box-shadow: 25px 12px 55px rgba(29, 14, 0, 0.35);
}

.bookBanner{
  background-image: url('./images/bg-wooden-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  padding: 20px;
}

.bookImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-image: url('./images/page2-book.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.backNavCard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.backNavCard p{
  font-size: 1.5rem;
}
.backNavCard a{
  text-decoration: none;
}
.backNavCard h1{
  font-size: 2rem;
  color: #944802;
  margin: 10px;
  text-align: center;
}

.contentCard{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: #f5eeda;
  border-radius: 20px;
  padding: 20px;
}
#title{
  color: rgb(1, 1, 98);
}
#author{
  color: darkblue;
}
.ratingCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.ratingStarts{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ratingStarts li{
  color: var(--accent-orange);
}

.rateNo{
  color: darkblue;
  font-size: 1.2rem;
  font-weight: bold;
}

.genreName{
  background-color: #c06109;
  border-radius: 5px;
  color: var(--wood-cream);
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
}

.themeCardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #faf1c4;
  padding: 20px 5px;
  border-radius: 10px;
}

.themeCardList li{
  color: rgb(2, 2, 88);
  border-right: 2px solid var(--wood-walnut);
  padding: 0px 5px;
  font-size: 0.9em;
  font-weight: bold;

}

.themeCardList li:last-child{
  border: none;
}

.about{
  margin: 30px 0px;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(1, 1, 62);
  letter-spacing: 0.5px;
}
.info {
  font-size: 1.2rem;
  color: rgb(1, 1, 62);
}
.label{
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.info .text{
  background-color: #EAD1B4;
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 767px) {
  #title{
    font-size: 1.2rem;
  }
  #author{
    font-size: 0.6rem;
  }
  .bookFrame{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0px 0px 20px 20px;
  }

  .bookBanner{
    background-image: url('./images/bg-wooden-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px;
  }

  .bookImage{
    background-image: url('./images/page2-book.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
  }
  .contentCard{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .themeCardList{
    padding: 10px;
  }
  .ratingCard{
    margin: 10px 0px;
  }
  .label{
    margin: 5px 0px 10px 0px;
  }
  .about{
    margin: 10px 0px 0px 0px;
  }
  .info{
    margin: 10px 0px 0px 0px;
  }
  .info .text{
    padding: 10px;
    border-radius: 5px;
  }
  .text{
    font-size: 0.9rem;
    padding: 0px;
  }
}
