:root {
  --wood-brown: #7C4F28;
  --wood-mid: #B38867;
  --wood-cream: #F5E9DA;
  --wood-walnut: #594231;
  --wood-beige: #EAD1B4;
  --accent-gold: #D4A373;
  --accent-orange: #c06109;
  --bright-orange: #df8338;
  --darkBrown: #1d0e00;
}

.recommentationCard{
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  width: 100%;
  box-shadow:
    inset -12px 0 12px -5px var(--wood-brown),
    inset 0 -12px 12px -5px var(--wood-brown);
}
.recommentationCard h1{
  color: var(--wood-cream);
  font-size: 1.2rem;
  flex-grow: 0;
}
.recommentationBooks{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer;

}
.recommentationBooks::-webkit-scrollbar {
  height: 10px;
  cursor: pointer;
}
.recommentationBooks::-webkit-scrollbar-track {
  background-color: var(--wood-cream);
  border-radius: 10px;
}
.recommentationBooks::-webkit-scrollbar-thumb {
  background: var(--wood-brown);
  border-radius: 10px;
}
.recommentationBooks::-webkit-scrollbar-thumb:hover {
  background: #d6a73f;
}


@media (max-width: 767px) {
  .recommentationBooks{
    padding: 10px;
    gap: 4px;
    overflow: auto;
    max-height: 200px;
  }
 .recommentationBooksList{
    width: 180px;
    height: 120px;
    background-color: var(--wood-beige);
    flex-shrink: 0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
   .recommentationBooksList img{
    width: 40%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
  }
  .recommentationBooksListName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--accent-orange);
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--wood-cream);
  }
  .recommentationBooksListName i{
    font-size: 1rem;
    margin-top: 5px;
    align-self: flex-end;
  }
  .recommentationBooks::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
}
}

@media (min-width: 768px) {
 .recommentationBooks{
  padding: 10px;
  gap: 4px;
  overflow: auto;
 }
 .recommentationBooksList{
  width: 180px;
  height: 120px;
  background-color: var(--wood-beige);
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }
 .recommentationBooksList img{
  width: 40%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
 }
 .recommentationBooksListName{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: var(--accent-orange);
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--wood-cream);
 }
 .recommentationBooksListName i{
  font-size: 1rem;
  margin-top: 5px;
  align-self: flex-end;
 }
}